<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Using for Android 11.0 or higher | Youtube API access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.google.android.youtube" />
    </queries>

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hare_Krishna"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name=".WrongActivity" android:screenOrientation="locked"/>
        <activity android:name=".ScoreActivity" android:screenOrientation="locked"/>
        <activity android:name=".RightActivity" android:screenOrientation="locked"/>
        <activity android:name=".QuestionCollection" android:exported="false"/>


        <activity
            android:name=".QuizActivity2"
            android:exported="false">
        </activity>

        <activity
            android:name=".BanglaCalender"
            android:exported="false">
        </activity>

        <activity
            android:name=".NoteActivity_2"
            android:exported="false">
        </activity>

        <activity
            android:name=".ViralNews"
            android:exported="false">
        </activity>

        <activity
            android:name=".JapaActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NoteArrayList"
            android:exported="false" />

        <activity
            android:name=".MainMovieActivity"
            android:exported="false" />
        <activity
            android:name=".MovieModel"
            android:exported="false"/>
        <activity
            android:name=".Vow"
            android:exported="false"/>
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SettingsEdit"
            android:exported="false" />
        <activity
            android:name=".Database"
            android:exported="false" />
        <activity
            android:name=".SmsList"
            android:exported="false" />
        <activity
            android:name=".SMS"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".Ekadashi"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false" />
        <activity
            android:name=".PanchaTattva"
            android:exported="false" />
        <activity
            android:name=".BhagavadGita"
            android:exported="false" />
        <activity
            android:name=".GalleryView"
            android:exported="false" />
        <activity
            android:name=".Back"
            android:exported="false" />
        <activity
            android:name=".EmbedPlayer"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MyTube"
            android:exported="false" />
        <activity
            android:name=".ThumbLoader"
            android:exported="false" />
        <activity
            android:name=".SplashHome"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsHome"
            android:exported="false" />
        <activity
            android:name=".PopularNews"
            android:exported="false" />
        <activity
            android:name=".WeatherNews"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".NewsDetails"
            android:exported="false" />
        <activity
            android:name=".GitaDetails"
            android:exported="false" />
        <activity
            android:name=".BMI"
            android:exported="false" />
        <activity
            android:name=".PDFViewer"
            android:exported="false" />
        <activity
            android:name=".WebBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".My_Tube_Player"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_APP_ID" />
    </application>

</manifest>